/* -------------------------------------MAIN PALETTE------------------------------------- */
:root {
    --navBarBackground: #CDDDDD;
    --colorBlack: #000000;
    --gradientDarkBlue: rgb(41, 54, 104);
    --gradientBlack: rgb(35, 35, 35);
    --txtLightBlue: rgb(62, 158, 158);
    --linkGreen: #799043;
    --navBtnPurpure: #A599B5;
    --txtDescriptionTaskSalmon: #b09090;
    --inputBackground: rgba(255, 255, 255, 0.205);
    --greenBtn: #54d868;
    --yellowBtn: hsl(65, 87%, 64%);
    --redBtn: #d85454;
}


/* -------------------------------------GLOBAL STYLES------------------------------------- */
*{
    margin:0; padding:0; box-sizing: border-box;
}
body {
    background-image: linear-gradient(var(--colorBlack), var(--gradientDarkBlue));
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--txtLightBlue);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}
textarea {
    font-family: Arial, Helvetica, sans-serif;
}
a {
    cursor: pointer;
    color: var(--linkGreen);
}
.wrapper {
    width: 100%;
    display: flex;
}
.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/* -------------------------------------NAV COMPONENT------------------------------------- */
nav {
    position: sticky;
    top: 20px;
    width: 110px;
    height: 444px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--navBarBackground);
    margin: 20px;
    border-radius: 100px;
    z-index: 99;
}
.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-container img, .button-wrapper, .logo, .logo-container-login img {
    width: 100%;
}
.button-container img{
    width: 40%;
}
.logo-container, .logo-container-login {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.button-tag{
    display: none;
    position: absolute;
    left: 100px;
    background-color: var(--navBarBackground);
    border-radius: 0 50px 50px 0;
    padding: 7px;
    white-space: nowrap;
}
.button-container:hover .button-tag{
    display: flex;
}
.logo-container:hover .button-tag{
    display: flex;
}
.button-container a {
    width: 90px;
    height: 90px;
    background-color: var(--navBtnPurpure);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.mobile-nav{
    display: none;
}

/* -------------------------------------ANIMATED LOGO------------------------------------- */
.logo-container a, .logo-container-login a {
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: solid 1px gray;
    margin-top: 10px;
    margin-bottom: 10px;
    animation-name: backgroundColorPalette;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear; 
}
.logo-container-login a {
    width: 210px;
    height: 210px;
}

@keyframes backgroundColorPalette {
	0% {
		background: #ee6055;
	}
	25% {
		background: #60d394;
	}
	50% {
		background: #aaf683;
	}
	75% {
		background: #ffd97d;
	}
	100% {
		background: #ff9b85;
	}
}

/* -------------------------------------TASK COMPONENT------------------------------------- */
.task-container {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
    width: 18rem;
    height: 14rem;
    border-radius: 3rem;
    border: solid 2px #1d1f1d;
    margin: 1rem;
    background-image: linear-gradient(var(--gradientDarkBlue), var(--gradientBlack));
}
.done-task {
    filter: grayscale(65%);
    opacity: 0.2;
}
.inactive-title-task-input {
    resize: none;
    pointer-events:none;
    border: none;
    background: transparent;
    font-size: 1rem;
    font-weight: bold;
    color: var(--txtLightBlue);
    text-align: center;
}
.inactive-description-task-input {
    resize: none;
    pointer-events:none;
    border: none;
    background: transparent;
    font-size: 0.8rem;
    color: var(--txtDescriptionTaskSalmon);
    text-align: center;
}
.active-title-task-input {
    resize: none;
    pointer-events:all;
    border: none;
    background: var(--inputBackground);
    font-size: 1rem;
    font-weight: bold;
    color: var(--txtLightBlue);
    text-align: center;
    border-radius: 9px;
}
.active-description-task-input {
    resize: none;
    pointer-events:all;
    border: none;
    background:var(--inputBackground);
    font-size: 0.8rem;
    color: var(--txtDescriptionTaskSalmon);
    text-align: center;
    border-radius: 9px;
}
.task-container input, .task-container textarea{
    width: 100%;
}
.new-task-box {
    background-image: linear-gradient(var(--gradientDarkBlue), var(--gradientBlack));
    border: none;
    border-radius: 40px;
    width: 360px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttons-task-item {
    display: flex;
    justify-content: center;
}
.task-btn {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.done {
    background-color: var(--greenBtn);
}
.edit {
    background-color: var(--yellowBtn);
}
.delete{
    background-color: var(--redBtn);
}
.task-btn img {
    width: 70%;
}
/* -------------------------------------SING IN/UP VIEW------------------------------------- */
.login-btn {
    resize: none;
    pointer-events:all;
    height: 2.3rem;
    border: none;
    background: var(--linkGreen);
    font-size: 1rem;
    font-weight: bold;
    color: rgb(35, 35, 35);
    text-align: center;
    border-radius: 9px;
    padding: 0 1.6rem 0 1.6rem;
    cursor: pointer;
}
.login-inputs-container input[type=text], .login-inputs-container input[type=password], .singup-inputs-container form input{
    width: 90%;
    resize: none;
    pointer-events:all;
    height: 2rem;
    border: none;
    background: var(--inputBackground);
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--txtLightBlue);
    text-align: center;
    border-radius: 9px;
}
.signup-text{
    font-size: 0.7rem;
}
.login-inputs-container {
    position: relative;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    width: 18rem;
    height: 14rem;
    border-radius: 3rem;
    border: solid 2px #1d1f1d;
    margin: 1rem;
    background-image: linear-gradient(var(--gradientDarkBlue), var(--gradientBlack));
}
.singup-inputs-container {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    padding-left: 20px;
    padding-right: 20px;
    width: 18rem;
    height: 28rem;
    border-radius: 3rem;
    border: solid 2px #1d1f1d;
    margin: 1rem;
    background-image: linear-gradient(var(--gradientDarkBlue), var(--gradientBlack));
}
.singup-inputs-container form {
    position: relative;
    height: 80%;
    width: 110%;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}
.login-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    gap: 20px;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: var(--inputBackground);
    backdrop-filter: blur(5px);
    z-index: 999;
    overflow-y: scroll;
}
.error-msg {
    position: absolute;
    top: -1rem;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #ee6055;
    color: white;
    text-align: center;
    width: 12rem;
    border-radius: 10px;
    padding: 5px;
}

/* -------------------------------------PROFILE VIEW------------------------------------- */
.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2.4rem 0 0 2.4rem;
}
.profile .inactive-title-task-input {
    width: 100%;
}
.profile .active-title-task-input {
    width: 100%;
}
.profile-pic {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* ----------------------------RESPONSIVE MEDIA QUERRIES--------------------------------- */
@media (max-width: 1124px) {
    .content {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (max-width: 1080px) {
    nav {
        display: none;
    }
    .logo-container {
        justify-content: flex-start;
        margin-left: 2rem;
    }
    .logo-container a {
        width: 55px;
        height: 55px;
    }
    .button-container a {
        width: 55px;
        height: 55px;
    }
    .wrapper {
        width: 100%;
        flex-direction: column;
    }
    .mobile-nav{
        display: block;
        background-color: var(--navBarBackground);
        display: flex;
        justify-content: space-between;
    }
    .mobile-btns-container{
        display: flex;
    }
    .button-wrapper {
        margin-right: 2rem;
    }
    .content {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .logo-container-login a {
        width: 130px;
        height: 130px;
    }
    .login-inputs-container, .singup-inputs-container {
        background: transparent;
        border: none;
    }
}

/* --------------------------TRANSITION EFFECTS FOR COMPONENTS------------------------------ */
.v-enter-active,
.v-leave-active {
  transition: opacity 1s linear;
}
.v-enter-from,
.v-leave-to {
  opacity: 0;
}
